/* KAIST / SIML palette */
$black: #1A1A1A;
$kaist-white: #E1E4EB;
$kaist-dark-gray: #7C7C7C;
$kaist-light-blue: #5FBEEB;
$kaist-blue: #1487C8;
$kaist-medium-blue: #004187;
$kaist-dark-blue: #004191;

/* Layout */
$max-content-width: 1140px;
$page-grid-template-columns:
    [screen-start] 1fr
    [content-start] min(calc(100vw - 2rem), #{$max-content-width})
    [content-end] 1fr
    [screen-end];
