@import "modern-css-reset/dist/reset";
@import "bootstrap/scss/bootstrap";
@import "utils/bootstrap";

body {
    display: grid;
    grid-template-rows: [header-start] max-content [header-end] #{$blank} [main-start] 1fr [main-end] #{$blank} [footer-start] max-content [footer-end];
    grid-template-columns: [screen-start] 1fr [screen-end];

    font-family: Helvetica, sans-serif;
}

main {
    display: grid;

    grid-row: main;
    grid-column: screen;

    grid-template-columns: $page-grid-template-columns;
    grid-template-rows: [content-start] 1fr [content-end];
}

a {
    text-decoration: none;
}

h2 {
    font-size: 1.5rem;
}
